	/* CSS declarations go here */
/*
YOUIEST LLC CONFIDENTIAL

[2013] - [2014] Youiest LLC
All Rights Reserved.
NOTICE: All information contained herein is, and remains
the property of Youiest LLC and its suppliers,
if any. The intellectual and technical concepts contained
herein are proprietary to Youiest LLC
and its suppliers and may be covered by U.S. and Foreign Patents,
patents in process, and are protected by trade secret or copyright law.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Youiest LLC.
*/
body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;

	background: #E5E5E5  ;
    background-color: #1F253D;
	color: #808080  ;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif  ;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;

}
#bodyWrapper{
    height: 100%;
    width: 100%;
    left : 0px;
    top : 0px;
    position: absolute;
    overflow: hidden;

	background: #E5E5E5  ;
	color: #808080  ;
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;
}
#hashFaqForm{
	float: left;
	height: 100%;
	width: 30%;
	display: none;
/*	left: 50%;
*/	position: absolute;
}
.profileBody{

    height: 100%;
    width: 100%;
    left : 0px;
    top : 0px;
    position: absolute;
    overflow: hidden;

	background: #E5E5E5  ;
	color: #808080  ;
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;
}
#Main,#tutorial,#snapy,#adminPanel,#loader,#emailFormat{
    height: 100%;
    width: 100%;
    left : 0px;
    top : 0px;
    position: absolute;
    display: none;
    overflow: hidden;

	background: #E5E5E5  ;
	color: #808080  ;
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;
	
}
.chatbox{
    height: 92%;
    width: 100%;
    left : 0px;
    top : 8%;
    position: absolute;
    display: none;
    overflow: hidden;

	border: 1px solid #444  ;
	background: #E5E5E5  ;
	color: #808080  ;
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;
	
}
#loader{
	z-index: 20;
	display: block;	
}
#loaderError{
	position: absolute;
	display: none;
	z-index: 99;
}
#loadClass{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -75px;
	margin-top: -20px;
	text-align: center;
}
#Main{
	background-size: 100% 100%;
	display: none;
    overflow: hidden;
}
#snapy{
    width:90%;
    left: -90%;
    display: block;
    z-index: 25;
    text-align: center;
    overflow: scroll;
    background-color: #333;
}
.leaderSection{
	height: 10%;

}
.leadersface {
height: 22%;
width: 23%;
position: static;
float: left;
margin: 1%;
}
#gamemenu{
/*	height: 45%;
*/	overflow-y: scroll;
	position: relative;
}
.menu{
   	width :100%;
   	height : 5%;
   	z-index: 3;   
   	text-align: center;   
   /*border-bottom: 1px solid grey;*/
   	color :  #FFFFFF;
   	padding-bottom: 6px;
	padding-top: 8px;
  	/*background: white ;{a-bup-background-color};*/
	font-weight: inherit;
	text-shadow: 0   1px   0   #111  ;
	text-align: left;
	/*background-color : white;*/
}
.bigmenu,.help{
	text-align: left;
	background-image: url(/images/plus.png);	
	background-size: 20px 20px;
	background-repeat: no-repeat;
	padding-left: 10%;
	font-size: 25px;
	width: initial;
	background-color: steelblue;
	color: white;

}
.submenu, .helpSubMenu{	
    font-size: 20px;
    background-color: cornflowerblue;
    width: 90%;

}
#showpicsmenu1{
	height: 35%;
}
#updownarrow{
	position: absolute;
	left: 40%;
}
#surveybighandle{
	top: 89%;
	overflow-y: scroll;
	height: 20.5%;
	width: 100%;
	position: absolute;
	z-index: 4;
	text-align: center;
	background: transparent;
}
#surveybig{
	top: 92%;
	overflow-y: scroll;
	height: 79%;
	width: 100%;
	position: absolute;
	/*border-top:#11a8ab 1px solid;*/
	border-radius: 0px;
	/*background: url(../images/hash_pattern.png) #111;*/
	/*background: linear-gradient(to right,#50597b, #394264, #394264 , #50597b);*/
	background-color: #50597b;
}
.menuarrow{
	background-image: url(/images/menuarrow.png);
	height: 32px;
	width: 32px;
	position: absolute;
	right: 0px;
	background-size: 100% 100%;
	display: inline;
	top: 52px;
	margin-top: 3%;	
}
#menuWrapper{
    position: absolute;
    height: 60%;
    width: 100%;
    top: 40%;
    left: 0%;
    z-index: 10;
    overflow-y: scroll;
	overflow-x: scroll;
}
#menuWrapper .bigmenu,#menuWrapper .submenu{
	width: 90%;
}
.ui.rating .icon{
    font-size: 30px;
}
.icon.active{
    background-color : #333;    
}
/*tutorial starts*/
#tutorial{
    text-align: center;
    background-color: none;
    background: none;
    z-index: 3;
    display: none;    
}
#tutorialSec1Text, #tutorialSec2Text, #tutorialSec3Text, #tutorialSec4 div div{
    position : absolute;
    text-align: center;
    width: 100%;
}
#tutorialSec1{
    height:10%;
    position: relative;
    width:100%;
    background-color: #E5E5E5;
    opacity: 1.0;
}
#loveQuadrant{
	/*position: absolute;
	font-size: 50px;*/
	opacity: 1.0;
	/*top: 8%;
	left: 40%;*/
}

#outer {
    width: 35px;
    height: 95%;
    /*border: 2px solid #ccc;*/
    /*overflow: hidden;*/
    border: 0px;
    opacity: 0.0;
    position: relative;
    font-size: small;
    left: 9px;
    background-color: rgba(255, 255, 255, 0);
    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
}
#outer hr{
	border-right: 0;
	border-bottom: 0;
	border-top: 0;
	border-color: white;
	height: 100%;
	width: 13px;
	padding: 0px;
}
.inner{
     width: 7px;
    height: 50%;
    overflow: hidden;
    padding-left: 0px;
    position: absolute;
    border: 2px solid rgb(238, 80, 175, 0);
    border-top-width: 0;
    background: black;
    left: 19px;
    bottom: 0;
    opacity: 0.5;

    background: -moz-linear-gradient(top,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* FF3.6+ */
    background: -webkit-gradient(top,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* IE10+ */
    background: linear-gradient(top,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* W3C */

}

#inner-inner{
	height: 33px;
	/*background-color: rgb(238, 80, 175);*/
	background-color: black;
	text-align: center;
	top: 0%;
	width: 42px;
	position: absolute;
	border-radius: 5px;
	opacity: 0.0;
	padding-left: 3px;
	box-shadow: 0 0 29px white;
	/*box-shad;ow: 0 0 29px #FF00EB;*/
	left: 0.5%;
	color: white;

}
#hprogressBar {
	width: 94%;
	height: 7%;
	left: 22px;
	border: 1px solid rgba(17, 17, 17, 0);
	background-color:  rgba(255, 255, 255, 0);
	position: absolute;
	top: 92.5%;
	opacity: 0.0;
	z-index: 1;
}
#hprogressBar div {
	height: 7px;
    width: 50%;
    color: #fff;
    text-align: right;
    line-height: 22px;
    
    opacity: 0.5;

    background: -moz-linear-gradient(right,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* FF3.6+ */
    background: -webkit-gradient(right,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(right,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* IE10+ */
    background: linear-gradient(right,#FD3047 0%,#FEC739 33%,#5FC486 66%,#3D7DFE 99%); /* W3C */

}
#hprogressBar hr {
 	border-top-width: 0px;
 	height: 0px;
 	border-left: 0;

 }
#inerhprogressBar{
	height: 9%;
	/*background-color: rgb(255, 214, 0);*/
	box-shadow: 0 0 29px white;
	background-color: black;
	text-align: right;
	top: 90%;
	width: 40px;
	position: absolute;
	margin: -4px 0 0 -5px;
	border-radius: 5px;
	opacity: 0.0;
	padding-top: 3px;
	border-top-width : 1px;
	color: white;
	z-index: 1;
	/*box-shadow: 0 0 29px #FC0;*/
}
#promoteQuadrant{
	position: absolute;
	left: 80%;
	top:15%;
	font-size: 30px;
	opacity: 0.0;	
}
#speed{
	height:30%;
    position: relative;
    width:100%;
    background-color: #E5E5E5;
    opacity: 1.0;
}
#speed div{
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.0;
}
#speed div img{
	float: left;
	position: relative;
	width: 25%;
	height: 100%;
}
#tutorialSec2{
    height:15%;
    position: relative;
    width:100%;
    background-color: #E5E5E5;
    opacity: 1.0;
}
#lovemessage{
	position: absolute;
	left: 45%;
}
#promotemessage{	
	position: absolute;
	right: 0px;
}
.redmessage{
	color: red;
	font-size: 25;
}
/*#tutorialLogo{
	background-image: url(images/logo.png);
	position: absolute;
	height: 10%;
	width: 15%;
	left: 10%;
	top: 10%;
	background-size: 100% 100%;
	z-index: 1;
}*/
#tutorialSec3{
    height:15%;
    position: relative;
    width:100%;
    background-color: #E5E5E5;
    opacity: 1.0;
}
#tutorialSec4{
    height:60%;
    position: relative;
    width:100%;
    background-color: #E5E5E5;
    opacity: 1.0;
}
.mainQuadrant{
  position: relative;
  width : 50%;
  height: 50%;
  float: left;
  opacity: 0.0;
}

.mainQuadrant img{
    height: 100%;
    width: 100%;
}
#tutorialSec4 div div{
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: auto;
}
/*tutorial ends*/

.dt{
	float: left;
	list-style-type: none;
}
.adminKeyword dl,.adminKeyword li{
    float: left;
}

#gamePrompt{
	display: none;
	text-align: center;
	display: none;
	border: 1px solid #444  ;
	background-color: #E5E5E5;
	color: #808080  ;
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;
	top: 26%;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#popup{
	top: 55%;
	left: 50%;
	z-index: 3;
	height: auto;
	margin-left: -40%;
	margin-top: -120px;
	width: 80%;
  	position:absolute;
}

#videotutorialpopup{
	height: 100%;
	width: 100%;
	z-index: 2;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
#popup,#ContactUsPopUp, #keywordPopup,#AboutUsPopUp,#walkthroughMessageBox,#language,#welcomePopUp,#RatingPopUp{
	position: absolute;
	text-align: center;
	display: none;
	color: #fff;
	/*border: 1px solid #444  ;*/
	background-color: #394264;
	/*color: #808080  ;*/
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;
}
#ContactUsPopUpBackground,#AboutUsPopUpBackground,#RatingPopUpBackground,#languageBackground,#keywordPopupBackground{
	background-color: black;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 5;
	display: none;
}
#welcomePopUpBackground{
	background-color: black;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 8;
	display: none;
}
#walkthroughMessageBox{	
	z-index: 3;
	height: 12%;
	width: 80%;
	left: 10%;
	text-align: center;
}
#walkthroughOkButton{
	bottom: 0px;
	position: absolute;
	left: 46%;
}
#ContactUsPopUp, #AboutUsPopUp,#language{
	left: 50%;
	top: 50%;
	z-index: 5;
	margin-left: -40%;
	width: 80%;	
	height: auto;
	margin-top: -75px;
}
#RatingPopUp{
	left: 50%;
	top: 50%;
	z-index: 5;
	margin-left: -40%;
	width: 80%;	
	height: 12%;
	margin-top: -75px;
}
#welcomePopUp{
	z-index: 8;
	left: 50%;
	top: 50%;
	margin-left: -40%;
	width: 80%;	
	height: auto;
	margin-top: -75px;
}
#language{
	top: 25%;
}
 #Aggrements{
 	left: 50%;
	top: 50%;
	z-index: 99;
	margin-left: -40%;
	width: 80%;	
	height: 20%;
	margin-top: -75px;
	position: absolute;
	text-align: center;
	display: none;
	/*border: 1px solid #444  ;
	background-color: #E5E5E5;
	color: #808080  ;
	text-shadow: 0   1px   0   #111  ;*/
	font-weight: normal;
 }
#termsandcondition{
	top: 10%;
	left: 4%;
	height: 80%;
	width: 91%;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #FAFAFA;
    color: #808080;
}
#menuresents{
	position: relative;
}
.searchicon{
	font-size: 50px;
	position: absolute;
	left: 5%;
	color: rgb(151, 151, 151);
}
#keywordPopup{
    /*left: 10%;
	top: 43%;
	width: 80%;
	height: 100%;
	z-index: 5;
	position: absolute;
	max-height: 50%;*/
	top: 7%;
	width: 98%;
	height: 100%;
	z-index: 2;
	position: absolute;
	border-radius: 0px;
	left: 1%;
	display: block;
	/*background:url("images/patternX.png") #111;*/
	background-color: #50597b;
	border: 0px solid #11a8ab;
	-webkit-box-shadow: 0 0 10px 1px  #111;
	   -moz-box-shadow: 0 0 10px 1px #111;
	        box-shadow: 0 0 10px 1px  #111;


}
/*#keywordPopup
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#keywordPopup:before, #keywordPopup:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
#keywordPopup:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  

/*Headers*/
/*h1 , h1 a, h1 a:hover{ color:#FFF;	font-family: Arial; margin:10px;}
article h1, article h1 a, article h1 a:hover, h2, h3, h4, h5, h6 { line-height: 1.1em; color:#444;font-family: 'PT Sans Narrow', Calibri, 'Myriad Pro', Tahoma, Arial; padding: 10px 0; margin:0;}
article h1, article h1 a, h2 { font-size: 30px; letter-spacing: -1px;}
h3 { font-size: 30px; }
h4 { font-size: 22px;  font-weight: normal;  padding-bottom: 10px;}
h5 { font-size: 14px;}
h6 {}
.column_right_grid span:hover{
 	
 }*/
#hashgosearch{
	vertical-align:middle;
	margin-bottom:4px;
	color: #1f253d;
}
.column_right_grid input[type="text"],.column_right_grid input[type="password"]{
	padding:8px;
    color:#FFF;
    font-size:1em;
    background:none;   
    outline:none;
    border:none;
    margin:0px auto;
    width:75%;  
    -webkit-apperance:none;
    font-family: 'ambleregular';
}
#keywordButton:hover{
	border:0px solid ;
	box-shadow: 0 0 0px 0px  #11a8ab;
}
#searchKeyword{
	background-color: #50597b;
	border-top:0; 
	border-right:0; 
	border-left:0; 
	color:#fff;
}
#keywordButton{
    
   	left: 5%;
    background:none;   
    outline:none;
    border:none;
    width:75%;  
    -webkit-apperance:none;
    font-family: 'ambleregular';
	height: 7%;
	
	margin: 1% auto;
	border-radius: 0px;
	box-shadow: 0 0px 0px rgba(0,0,0,.4) inset, 0 0px 0 rgba(255,255,255,.2);
}
#keywords{	
    overflow-x: hidden;
	overflow-y: scroll;
	font-size: 20px;
	color: #7C7C7C;
	margin-top: 2%;
    margin-left: 19px;
	position: relative;
	bottom: 0;
	height: 70%;
}
.eachkeyword{
	position: relative;
	float: left;
	cursor: pointer;
	color: #11a8ab;
	/*font-family: 'ambleregular';*/
	background-color: #565656;
  /*color: transparent;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
 */ -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.redKeyword{
    background-color: #11a8ab;
}
#ContactUsPopUp{
	left: 50%;
	top: 50%;
	z-index: 5;
	margin-left: -40%;
	width: 80%;	
	height: auto;
	margin-top: -75px;
}
#tap{
	height: 50px;
	width: 50px;
	position: absolute;
	display: none;
	background-image: url(/images/taping.png);
	background-size: 100% 100%;
	z-index: 5;
}
#loginScreen{
    height: 100%;    
    width : 100%;
    left : 0px;
    top: 0px;
    position: absolute;
    display: none;
    background-size: 100% 100%;
    z-index: 50;
}
/*.button {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid grey;
    color: #3d7dfe;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
 	  -webkit-border-radius: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    background-attachment: scroll;

	background-clip: padding-box;
	background-color: white;
	
	background-origin: padding-box;
	background-size: auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
 	-webkit-border-radius: 15px;

}
*/


#loginButton{
    position: relative;
    top: -110px;
/*	top: 50%;
	left: 50%;
	margin-left: -140px;
	margin-top: -21px;
	z-index: 2;*/
}
#orID{
	top: 25px;
	position: relative;
}
#loginwrapper{
	position: relative;
	width: 100%;
}
#loginWithAppButton{
	position: absolute;
	top: 58%;
	left: 30%;
	margin-left: -23px;
	margin-top: -29px;
	z-index: 2;
}
#signupButton{
	position: absolute;
	top: 66%;
	left: 30%;
	margin-left: -25px;
	margin-top: -29px;
	z-index: 2;
}
.loginwithservies{
	position: absolute;
	top: 10%;
}
.loginwithservies div{
	float: left;
	position: relative;
	margin-top: 5%;
}
#logon{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: blue;
}
#loginLoader img{
    height: 50%;
    width: 50%;
    position: relative;
    float: left;
}
#loginwithapp{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -57px;
	margin-top: -72px;
}
#loginform,#searchForm{
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 44%;
	display : block;
	margin-left: -130px;
	display : none;
}
#loginsignupform{
	position: absolute;
	top: 50%;
	z-index: 10;
	text-align: center;
    width: 90%;
    left: 5%;
    margin-top: -175px;
}
#loginsignupform .field{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}
#form{
	position: absolute;
	top: 30%;
	z-index: 4;
	display: none;
}
.passwordClass,#passwordError{
    display: none;
}
#seLogin{
    display: none;
}
#hashgo{
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 10px;
}
#alreadyUser{
    left: 50%;
	position: absolute;
	margin-left: -75px; 
	height: 150px;
	width: 150px;  
	display: none; 
}
#alreadyMessage{

}
#profilePic,#profilePic img{
	height: 100%
	width: 100%;
}
#beforeLogin{
	height: 100%;
	width: 100%;
	position: relative;	
	background-color: #1f253d;
	/*background-color: #1f253d;*/
	/*background: linear-gradient(to right,#50597b, #394264,#50597b, #394264 , #50597b);*/
	
}
#recents1,#feedsProfile,#votesProfile{
	width: 100%;
	position: relative;
	overflow: auto;
	background-color: #E5E5E5;  
	z-index: 1;
}
.recentImage1,.recentImage1 img{
	height: 11%;
	width: 100%;
}
#section1,#loudness{
	height: 40%;
	width: 100%;
	position: relative;
	overflow: auto;
	z-index: 1;
	left:0px;
	top:0px;
    margin-left: 1%;
	/*position: absolute;
	width: 68%;
	height: 256%;*/
}
#groupDiv{
	height: 14%;
	width: 100%;
	left: 0%;
	top: 0%;
	position: absolute;
	overflow-x: auto;
}
#section2{
	width: 75%;
	position: absolute;
	top: 8%;
	left: 100%;
	z-index:8;
    height: 92%;
 /* 	background-color: #E5E5E5;
	border-radius: 10%;
 	-moz-border-radius: 10%;
 	-webkit-border-radius: 10%; */
}
#section3Label,#section2Label{
    position: absolute;
    
}
#section3Label{
	width: 9px;
	height: 16px;
	padding-right: 20px;
	border-left-width: 5px;
	background-image: url(/images/feedicon.png);
    position: absolute;
    left : 0%;
    bottom : 0%;
    
}
#section2Label{
	width: 9px;
	height: 8px;
	padding-bottom: 6px;
	margin-bottom: 7px;
	top: 2%;
	left: 1%;
    position: absolute;
    bottom : 0%;
    z-index: 3;
}
#section3{
	height: 32%;
	width: 100%;
	position: absolute;
	overflow-x: auto;
	top: 8%;
	background-color: #E5E5E5;
	border-radius: 10%;
	-moz-border-radius: 10%;
 	-webkit-border-radius: 10%;
}
#usersfeed{
	width: 100%;
	overflow: hidden;
	position: relative;
	overflow-y: scroll;
	display: block;
}
#groupButton{
	position: absolute;
	right: 0px;
	top: 2px;
	height: 75%;
	z-index: 3;
	overflow: hidden;
	width: 2%;
}
#openUser{
	position: absolute;
	left: 0px;
	top: 2px;
	height: 75%;
	z-index: 3;
	overflow: hidden;
	width: 2%;
}
#openUser i{
	top: 33%;
	position: relative;	
}
#groupButton i{
	top: 33%;
	position: relative;
}
#wrapperSec{
	height: 100%;
	width: 100%
	position: absolute;
}
#section4{
	height: 60%;
	width: 100%;	
	position: absolute;
	background: #333;
	top: 40%;
}
#quadrant,.quadrant{
  height:100%;
  width:100%;  
  position: absolute;
  z-index: 1;
  font-size: 12px;
  top: 0px;
}
.gameQuadrant{
  width : 50%;
  position: relative;
  height : 50%;
  float : left;
  opacity: 0.0;
}
.gameQuadrant img{
  height: 100%;
  width : 100%;  
}
.myself{
	height: 100%;
	width: 20%;
	position: relative;
}

#login{
	background-color: #E5E5E5;
	float: right;
	position: relative;
}

.follows{
	height: 100%;
	width: 10%;
	position: relative;
}

#addGroup{
	font-size: 4em;
	top: inherit;

}
#addGroup i{
	position: absolute;
}
.groupicons{
	position: relative;
	height: 50%;
	width: 50%;
	float: left;
}
.groupImages{
	height: 90%;
	width: 90%;
	position: relative;
	top: 5%;
	left:5%; 
}
.groupCount{
	position: absolute;
	z-index: 1;
	right: -10px;
}
#hidecheckmark{
	display: none;
	background-image: url(/images/check.png);
}
#showcheckmark{
	background-image: url(/images/plusgroup.png);
}

#showcheckmark,#hidecheckmark{
	position: relative;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.complete{
	display: none;
}
.onlineusers{
	background-color: green;
}
/*.offlineusers{
	background-color: red;	
}*/
.usersstatus{
	height: 15%;
	width: 15%;
	border-radius: 50%;
	-moz-border-radius: 50%;
 	-webkit-border-radius: 50%;
 	top: 0px;
	position: absolute;
	right: 0px;
}

.likesSection{
	height: 100%;
	width: 20%;
}

.likesImage{
	height: 80%;
	width: 100%;
	position: relative;
}

.likesCount{
	height: 20%;
	width: 100%;
	position: relative;
}


/*First Section CSS Rules*/
#currentFollowWrapper{
	width: 0%;
	position: absolute;
	background-color: black;
	opacity: 0.7;
	height: 92%;
	right: 0px;
	bottom: 0;
	z-index: 5;
}
#currentFollow{
	width: 25%;
	position: absolute;
	background-color: orange;
	height: 80px;
	width: 80px;
	right: 0px;
	bottom: 60%;
	z-index: 5;

}
#currentFollow .button{
	position: absolute;
	left: -17px;
	height: 100%;
	z-index: 0;
	width: 23%;
    padding-left: 3px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

#currentFollow i{
	position: relative;
	top: 18px;
}
#currentFollow img{
	height: 94%;
	width: 94%;
	position: relative;
	top: 2px;
	left: 3px;
}
.followSection{
	height: 63%;
	width: 100%;
	overflow-y: scroll;
	position: absolute;
	left: 0%;
	top: 16%;
	background-color: #222222;
	z-index: 2;
}
.buttonSection{
	height: 14%;
	width: 100%;
	position: absolute;
	background-color: #222222;
	left: 0%;
	top: 77%;
	z-index: 2;
}
.followsIcons{
	height: 75%;
	width: 33%;
	position: relative;
	float: left;	
	top:1%;
	z-index: 2;
}
.followsIcons img{
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;
	position: relative;	
	border-radius: 30%;
	-moz-border-radius: 30%;
 	-webkit-border-radius: 30%;
}
.square{
	height: 75%;
	width: 25%;
	position: relative;
	float: left;
	top: 19%;		
}
.square img{
	height: 100%;
	width: 100%;
	position: relative;		
}
#addGroup{
	height: 75%;
	width: 25%;
	float: left;
	position: relative;
	top: 19%;
}
.followsgroup{
	height: 87%;
	width: 25%;
	position: relative;
	float: left;
	overflow: hidden;
}
.followanimation{
	animation:second 5s;
	-webkit-animation:second 5s;
}
@keyframes second
{

	100% {transform: rotateY(360deg);-ms-transform: rotateY(360deg);  -webkit-transform: rotateY(360deg);}
}
@-webkit-keyframes second  
{
	100% {transform: rotateY(360deg);-ms-transform: rotateY(360deg);  -webkit-transform: rotateY(360deg);}
}
@keyframes myfirst
{
	0%   {transform: rotate(30deg);-ms-transform: rotate(30deg);  -webkit-transform: `rotate(30deg);}
	25%  {transform: rotate(-30deg);-ms-transform: rotate(-30deg);  -webkit-transform: rotate(-30deg);}
	50%  {transform: rotate(30deg);-ms-transform: rotate(30deg);  -webkit-transform: rotate(30deg);}
	75%  {transform: rotate(-30deg);-ms-transform: rotate(-30deg);  -webkit-transform: rotate(-30deg);}
	100% {transform: rotate(0deg);-ms-transform: rotate(0deg);  -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes myfirst  
{
	0%   {transform: rotate(30deg);-ms-transform: rotate(30deg);  -webkit-transform: rotate(30deg);}
	25%  {transform: rotate(-30deg);-ms-transform: rotate(-30deg);  -webkit-transform: rotate(-30deg);}
	50%  {transform: rotate(30deg);-ms-transform: rotate(30deg);  -webkit-transform: rotate(30deg);}
	75%  {transform: rotate(-30deg);-ms-transform: rotate(-30deg);  -webkit-transform: rotate(-30deg);}
	100% {transform: rotate(0deg);-ms-transform: rotate(0deg);  -webkit-transform: rotate(0deg);}
}
.followsImage{
	height: 90%;
	width: 90%;
	position: relative;
	top: 5%;
	left:5%;
	/*background-image: url(images/loader.jpg);*/
	background-size: 100% 100%;
	border-radius: 30%;
	-moz-border-radius: 30%;
 	-webkit-border-radius: 30%;
}

.followsLikes{
	height: 20%;
	width: 100%;
	background-color: orange;
}

.followsImage img{
	height: 98%;
	width: 98%;
	left:1%;
	top:1%;
	position: relative;
	border-radius: 30%;
	-moz-border-radius: 30%;
 	-webkit-border-radius: 30%;
}

.active{
	
 	background-color:transparent; 
}

.activeGroup{
	border-radius: 30%;
	-moz-border-radius: 30%;
 	  -webkit-border-radius: 30%;
 	background-color:pink; 
}

.voting{
	height: 40px;
	width: 40px;
	position: absolute;
  	z-index:7;
  	border-radius: 15%;
  	display: none;
}

.grouping{
	height: 40px;
	position: absolute;
  	z-index:3;
  	border-radius: 15%;
  	margin-left: 10%;
}
.grouping img{
	position: absolute;
	height: 100%;
}
.recomm{
	height: 40px;
	width: 60px;
	position: absolute;
  z-index:2;
}

.voting img{
	height: 100%;
	width: 100%;
	border-radius: 15%;
	-moz-border-radius: 15%;
 	-webkit-border-radius: 15%;
}
.sender img{
	height: 100%;
	width: 100%;
	position: relative;
	float: left;
}
.receiver img{
	height: 100%;
	width: 200%;
	position: relative;
	float: left;
}
.remove{
	display: none;
}
#unseenCount{
	position: absolute;
	height: 20px;
	width: 20px;
	margin-left: -10px;
	z-index: 1;
}
.loudIcons{
    height: 22%;
    width: 23%;
    position: static;
    float: left;
    margin: 1%; 
}
.loudIcons img{
    /*height: 10%;*/
    width: 100%;

}
.recentIcons{
	height: 22%;
	width: 23%;
	position: static;
	float: left;
	margin: 1%;
}
.recentIcons img{
	/*height: 10%;*/
	width: 100%;

}
.recentImage,.recentImage img{
	height: 11%;
	width: 100%;
}

/*.feed, .recommend, .right, .popular, .globalFeed, .hash {
	height: 98%;
	width: 25%;
	position: relative;
	float: left;
	border-radius: 15%;
	-moz-border-radius: 15%;
	-webkit-border-radius: 15%;
}*/

.extrabutton{
	background-color: white;
	height: 25%;
	width: 25%;
	position: relative;
	float: left;
	border-radius: 15%;
	-moz-border-radius: 15%;
 	-webkit-border-radius: 15%;
}

.feed,.recommend{
	height: 25%;
	width: 25%;
	position: relative;
	float: left;
	border-radius: 15%;
	-moz-border-radius: 15%;
 	-webkit-border-radius: 15%;
 	background-color: gray;
}
.userfeed{
	height: 100%;
	width: 25%;
	position: relative;
	float: left;
	border-radius: 15%;
	-moz-border-radius: 15%;
 	-webkit-border-radius: 15%;
 	background-color: gray;
}
.userfeed img{
	height: 96%;
	width: 96%;
	left: 2%;
	top: 2%;
	position:relative;
	background-size: 100% 100%;
	border-radius: 15%;
	-moz-border-radius: 15%;
	-webkit-border-radius: 15%;
}
.right div,.popular,.globalFeed,.hash{
	background-image: none;
}
.feedImages,.recommendImages{
	height: 90%;
	width: 90%;
  left:5%;
  top:5%;
  position:relative;
	background-size: 100% 100%;
	border-radius: 15%;
	-moz-border-radius: 15%;
 	-webkit-border-radius: 15%;
}
.feedImages {
	/*background-image: url(images/loader.jpg);*/
}
.feed[source="recommend"]{
	display: none;
}
.recommendImages{
	/*background-image: url(images/loader.jpg);*/	
}
.feed img,.recommendImages img{
	height: 96%;
	width: 96%;
	left: 2%;
	top: 2%;
	position:relative;
	background-size: 100% 100%;
	border-radius: 15%;
	-moz-border-radius: 15%;
	-webkit-border-radius: 15%;
}
.insidefeed{
	height: 96%;
	width: 96%;
	left: 2%;
	top: 2%;
	position:relative;
	background-size: 100% 100%;
	border-radius: 15%;
	-moz-border-radius: 15%;
	-webkit-border-radius: 15%;
}
.somethinglateron{
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
}
.feedLikes, .recommendLikes{
	height: 10%;
	width: 100%;
}

.bigFeed{
	position: absolute;
	height: 97%;
	width: 100%;
  	z-index: 1;  
  	top: 3%;

}
.bigSecondFeed{
	position: relative;
	height: 50%;
	width: 100%;
	z-index: 1;
}
.leadersface{
	height: 10%;
	position: relative;
	float: left;
}
.leadersface img{
	height: 10%;
	width: 100%;
}
.hashFeed
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.hashFeed:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.hashFeed:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
.hashFeed{
    position: relative;
    width: 98%;
    z-index: 1;
    margin:1%;
    margin-top: 0%;
    border-radius: 0px;
    /*background-color: #394264;*/
}

.hashFeed img{
   height: 100%;
    width: 100%;
    position: relative;
    left: 0px;
    border-radius: 0px;
}

.bigFeed img{
	height: 100%;
	width: 100%;
	position: absolute;
}

.littleBig{

}
#semanticLoader{
	height: 10%;
}
.myloader{
	background-image: url(/images/loader.gif);

	background-size: 100% 100%;
	left: 45%;
	line-height: 16px;
	min-width: 32px;
	padding-top: 48px;
	position: absolute;
	text-align: center;
}
.loading{
	background-image: url(/images/loader.gif);
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	display: none;
}
.hashKeyword{
	/*margin-top: -10%;
	margin-left: 44%;*/
	color: white;
	position: absolute;
	bottom: 10%;
	left: 55%;
	font-size: 30px;

}
#thankyouBackgroud{
	background-color: black;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 60;
	display: none;
}
#thankyou{
	background-color: black;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 70;
	left: 50%;
	top: 40%;
	margin-left: -40%;
	width: 80%;
	height: auto;
	margin-top: -200px;
	text-align: center;
}
.loginButton{
	position: relative;

}
#hideThankyouPopUp{
	left: 46%;
	position: relative;
}
.likeActive{	
	background-color:orange;
}
.likeActive img{
	height: 90%;
	width: 90%;
	left:5%;
	top:5%;
}
#likeButton, #followButton,#snapButton{
	height: 37px;
	width: 37px;
	position: absolute;
	display: none;
	background-size: 100% 100%;
  	z-index : 10;
  	opacity: 0.8;
}
#snapButtonWrapper{
	width: 10%;
	display: none;
	position: absolute;
	z-index: 25;
	height: 99%;
	left: 90%;
	top: 1%;
	background-color: black;
	opacity: 0.7;
}
#snapButton{
	width: 10%;
	display: block;
	z-index: 25;
	height: 7%;
	font-size: xx-large;
	float: right;
	top: 1%;
	left: 0%;
	color: white;

}
#likeButton{
  background-image: url(/images/heart.png);
}
#followButton{
	background-image: url(/images/F.png);
	z-index:7;
}

.sender{
	width: 70%;
	height: 100%;
	float: left;
	position: absolute;
	background-size: 100% 100%;
	left: 30%;
}
.receiver{
  	width: 60%;
	height: 100%;
	position: absolute;
}
.imageComment{
	width:40%;
	margin: 5%;

}
.imageComment img {height: 100%;}
#comment{
  position : absolute;
  display : none;  
}
#commentInput{
	width: 100%;
	height: 140px;
}
.submitComment{
	width:40%;
	margin: 5%;	
}
#commentingOverlay{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
	top: 0%;
	left: 0%;
}
#commentingCommentOverlay{
	display: none;
	position: absolute;
	z-index: 15;
	top: 21%;
	left: 0%;
	width: 90%;
	margin-left: 5%;
	opacity: 0.8;
	background-color: #394264;
	height: 60%;
	overflow-y: scroll;
}
/*
.triangle-right:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0px 0px 20px;
    border-style: solid;
    border-color: rgb(7, 86, 152) transparent;
    display: block;
    width: 0px;
}*/
#back-top {
	position: fixed;
	bottom: 30px;
	left: 10%;
	z-index: 2;
	display: none;
	width: 30px;
	height: 30px;
	background: url(../images/gotop.png) ;
	background-size: 100%;
}/*
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background-im url(../images/taping.png) no-repeat 100%;

	
	border-radius: 50%;

	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}*/
#back-top p:hover span {
	background-color: #777;
}
#cross
{
	float: right;
	padding: 5px;
	padding-bottom: 2px;
	font-size: 11px;
	color: white;
	background-color: #11a8ab;
	margin-right: 4%;
	border-radius: 10px 10.0px 0px 0px
}
.triangle-right {
	font-size: 15px;
    position: absolute;
    /*width: 250%;*/
    padding: 5px;
    min-width:250; 
    background-color: rgba(30,36,59,1);

    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(46, 136, 196), rgb(7, 86, 152)) repeat scroll 0% 0% transparent;
    border-radius: 10px 10px 0px 10px;

}
p {
    margin: 1em 0px;
}


#overlay{
  position : absolute;
  display : none;
  height : 32%;
  width : 100%;
  left : 0px;
  top: 8.25%;
  z-index: 3;
  background-color: grey;
  
}
#chatting{
	background-color: rgb(244, 244, 244);
	height: 100%;
	width: 80%;
	color: rgb(85, 85, 85);
}
textarea[name="header"]{
	height: 50%;
	width: 50%;
}
textarea {
	overflow: auto;
	resize:none;
}
#moveFace{
	height: 50px;
	width: 50px;
	left: 84%;
	position: absolute;
	top: 20%;
	position: absolute;
	background-image: url(/images/face.jpg);
	background-size: 100% 100%;
}
#creatorProfile{
    height: 100px;
    width: 100px;
    position: absolute;
}
#creatorProfile img{
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar,
	::-webkit-scrollbar-button:start:increment,
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment,
	::-webkit-scrollbar-button:end:decrement {
	
		width: 9px;
		height: 9px;
		display: none;
	
	}
	
	::-webkit-scrollbar,
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
	
		display: none;
		    
	}
	
	::-webkit-scrollbar-track {
	
		border-radius: 4.5px;
		-moz-border-radius: 4.5px;
 		-webkit-border-radius: 4.5px;
		background: rgba(0, 0, 0, .15);
			display: none;
	
	}
	
	::-webkit-scrollbar-thumb {
	
		border-radius: 4.5px;
		background: rgba(0, 0, 0, .25);
		border: 1px inset rgba(0, 0, 0, .15);
		
		-webkit-transition: background-color 2.5s linear;
	
	}
	
	:hover::-webkit-scrollbar-thumb {
	
		background: rgba(0, 0, 0, .35);
	
	}
#close, #hashgocancel,#closeTutorialButton{	
	position : absolute;
	right: 0px;
	top: 0px;
}
#hashgocancel{
	right: -17px;
	top: -11px;
	z-index: 6;
}

#closeTutorialButton{
	z-index: 1;
}
#tutorialButton{
	width: 100%;
	height: 10%;
	position: absolute;
	z-index: 4;
	opacity: 0.9;
	display: none;
	margin-left: 11%;
}
#hashgocancel{
    right:-22px;
}
	::-webkit-scrollbar-thumb:hover {
	
		background: rgba(0, 0, 0, .55);
	
	}

/*///jquery mobile///*/

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

#instructionPanel{
	position: absolute;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	display: none;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: scroll;

	border: 1px solid #444  ;
/*	background: #E5E5E5  ;
*/	color: black  ;
	text-shadow: 0   1px   0   #111  ;
	font-weight: normal;	
}
#adminListItems,#adminTableCat{
	position: absolute;
	top: 10%;
	left: 0%;
	height: 80%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
#nextInstruction{
	bottom: 0px;
	right: 0px;
	display: block;
}
#instructionSection{
	height: 90%;
	width: 100%;
}
#instructionSection div{
	position: absolute; 
	display: none;
	overflow: scroll;
	height: 90%;
}
#instructionButton{
	height: 10%;
	width: 100%;
}
#instructionButton div{
	float: left;
	margin-left: 5%;
	position: relative;
}
#toast i{
	float: right;
	position: absolute;
	right: 0px;
	margin-top: -19px;
	margin-right: 33px;
	font-size: 50px;
}
#toast{
	padding-right: 10px;
	background-color: #E5E5E5;
	position: absolute;	
	border-radius: 5px;
	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;

	color: black;	
	display:  none;
	width: 80%;
	height: 7%;
	left: 50%;
	bottom: 60%;
	margin-left: -40%;	
	z-index: 10;

	opacity: .9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: lucida Grande;
	font-size: 20px;
	border: 2px solid #999;
}
.unseen{
	display: none;
}
/*///Admin Section//*/ 
.adminCategory{
	width: 100%;
	text-align: left;
}
#adminPanel{
	z-index: 10;	
	text-align: center;
}
.adminTable div{
	float: left;
	position: relative;
	width: 25%;
}
#adminTableCat{
	overflow: scroll;
	display: none;
}
.keyboard{
    display:none;
	font-weight: bold;
	color: black;
	display: none;
	width: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	margin-left: -150px;
	margin-top: -75px;
}
.keyboard li{
	float: left;
	position: relative;
	width: 15%;
	list-style-type: none;
	padding-left: 10%;
    background-color: #E5E5E5;
    color: #0d7aff;
  
	border-radius: 15px;
	-moz-border-radius: 15px;
 	-webkit-border-radius: 15px;
}
/*.activeItemP, .itemP{
	float: left;
	font-size: small;
	padding-bottom: 0px;
	padding-top: 0px;
}*/
/*#profile_details_div{
	width: 101%;
}*/
#myprofile{
	top: 0px;
}
#profile_header{
	width: 100%;
	height: 50px;
}
#keyboardButton{
	position: absolute;
	right: 0px;
	top: 17%;
	z-index: 4;
	overflow: hidden;
	text-transform: none;
}
mark{
	background-color: #11a8ab;
	color: #dbedfe;
	background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);
	border: 1px solid rgba(0, 0, 0, .18);
	border-bottom-color: rgba(0, 0, 0, .29);
	-webkit-border-radius: 14px 14px 0 14px;
	-webkit-box-shadow: 0 1px 0 #dce0e6;
	color: #3e454c;
	line-height: 1.28;
	margin-right: 5%;
	min-height: 14px;
	padding: 0.5%;
	position: relative;
	text-align: left;
	text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
	white-space: pre-wrap;
	word-wrap: break-word;

direction: ltr;

}
.header{
	text-align: right;
	font-size: 30px;
	height:10%;
	width:100%;
	font-family: havletica,arial;
}
.commentWrapper{
	padding: 0.3%;
	margin: 0;
}

#toastArea{
	text-align: center;
	font-size: 20px;
	height: 10%;
	width: 100%;
	position: absolute;	
}
#headerSection{
	text-align: center;
    font-size: 0px;
    height: 7.5%;
    width: 100%;
    margin: 0%;
    
    color: #000;
    position: absolute;
    border-radius:0;
    z-index: 4;
    /*border-bottom: 1px solid #11a8ab;
    border-top: 1px solid #11a8ab;*/
	background-color: #394264;
	-webkit-box-shadow: 0 10px 6px -6px #111;
	   -moz-box-shadow: 0 10px 6px -6px #111;
	        box-shadow: 0 10px 10px -6px #111;

}
.three
{
	left: px;
	background-color: rgba(6,54,95,.35);
-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);
-moz-box-shadow: -1px 0 0 rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);
box-shadow: 1px 1px 1px rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);
width: 10%;
height: 100%;
top: 0%;

}

.header div{
	position : absolute;
	float : left;
	color: #50597b	;
	top: 9%;
}
.appname{
	background-image:url(/images/hashrepublic.png);
	background-size: 60% 100%;
	background-repeat: no-repeat;
	left: 35%;
	height: 85%;
	width: 50%;
}
/*Admin Ends */
#status{
	position: absolute;
	float: right;
	right: 2px;
	top: 0px;
	height: 90%;
	width: 10%;
	/*background-size: 100% 100%;*/
   	border-bottom: 5px;
   	margin-left: 1%
   	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);
-moz-box-shadow: -1px 0 0 rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);
box-shadow: 0px 1px 1px 1px rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);

top: 0%;
right: 1%;
}
.trueStatus{
	border-bottom:3px solid #5FC486;   	
}
.trueStatus{
	border-left:0px solid black;   	
	background-color: rgba(6,54,95,.35);
}
.falseStatus{
	border-bottom:3px solid #FD3047;	
}
#tapmateLogo{
	background-image: url(/images/logo.png);
	position: absolute;
	height: 100%;
	width: 100%;
	right:1%;
	top: 1%;
	background-size: 100% 100%;
	padding:1%;
}

#tapmateLogo:hover{
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}
/*Email Start/// */

#emailFormat{
	z-index: 2;
}

#emailDone{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-right: 10%;
	margin-bottom: 5%;
}
#emailHeaderMessage{
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
	position: relative;
}
.eachLeaders{
	width: 30%;
	position: relative;
	float: left;
	margin-left: 2%;
	margin-top: 1%;
	height: 90%;
}
.eachLeaders img{
	width: 100%;
	height: 80%;
}
/*  Email Ends   */

/*  CHAT start  */  
.chatbox {
	z-index: 5;
	background-color: #E5E5E5;
}
#chatboxclosebutton{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
}
.chatboxwrapper{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;

}
.chatmessages{
	height: initial;
}
#chatinputbox{
	float: left;
	width: 70%;	
}
#chatsendbutton{
	width: 30%;
}
.rightfloat{
	float: right;
}
.leftfloat{
	float: left;
}
.chatmessage{
	position: relative;
	width: 100%;

}
.ui.segment{
	width: 100%
}
.ui.segment{
	margin: 0px;
	padding: 0px;
}
.chatstatus{
	position: relative;
	height: 20px;
	width: 20px;
	float: right;
	right: 5px;
	top: 5px;

	border-radius: 50%;
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.chatmessagebox{
	overflow-y: scroll;
	height: 93%;
}
.clientStatus{
	background-color: red;
}
.serverStatus{
	background-color: orange;
}
.receiveStatus{
	background-color: green;
}
.checkedStatus{
	background-color: green;
}
#pushimagePopUp{
	display: none;
	z-index: 6;
	text-align: center;
	top: 39%;
	height: 61%;
}
#pushnotificationimages{
	width: 100%;
	position: absolute;
	left: 0%;
	top: 9%;
	height: 90%;
}
#pushtext{
	font-weight: bolder;
	font-family: serif;
	font-size: 15px;
	text-align: center;
}
#guestLogin{
	display: none;
	top: 30%;
	z-index: 10;
	text-align: center;
}
/*   CHAT ENDS    */

/*//////////font-family: //*/
/*@font-face
{
font-family: jennifer;
src: url('fonts/jennifer.ttf') format('truetype');
}
@font-face
{
font-family: vermin;
src: url('fonts/vermin.ttf') format('truetype');
}
@font-face
{
font-family: appleberry;
src: url('fonts/appleberry.ttf') format('truetype');
}
@font-face
{
font-family: expressway;
src: url('fonts/expressway.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Basic Icons';
  src: url(fonts/basic.icons.eot);
  src: url(fonts/basic.icons.eot?#iefix) format('embedded-opentype'), url(fonts/basic.icons.woff) format('woff'), url(fonts/basic.icons.ttf) format('truetype'), url(fonts/basic.icons.svg#basic.icons) format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@font-face {
  font-family: 'Icons';
  src: url(fonts/icons.eot);
  src: url(fonts/icons.eot?#iefix) format('embedded-opentype'), url(fonts/icons.woff) format('woff'), url(fonts/icons.ttf) format('truetype'), url(fonts/icons.svg#icons) format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

/*  JQUERY TO CSS3 ANIMATION */



/*  JQUERY TO CSS3 ANIMATION */


/* SEMANTIC ANIMATION */
/* Shake */
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/* Bounce */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* Tada */
.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

/* Pulse */
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* SEMANTIC ANIMATION */